<div class="row" style="margin-bottom: 10vh;">
  <div class="col-lg-12 col-md-12 mb-12">
    <div  id="timeline" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%; height:30px;"></div>
  </div>
</div>

<div class="row" id="row1">
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn11" class="btn sign" (click)="changeSign($event,0)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn12" class="btn sign" (click)="changeSign($event,1)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn13" class="btn sign" (click)="changeSign($event,2)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn14" class="btn sign" (click)="changeSign($event,3)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn15" class="btn submit" (click)="submitCombination($event)"><img src="../../assets/images/correct.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn16" class="btn resolved" hidden disabled>4|1</button>
  </div>
</div>

<div class="row" id="row2" hidden>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn21" class="btn sign" (click)="changeSign($event,0)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn22" class="btn sign" (click)="changeSign($event,1)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn23" class="btn sign" (click)="changeSign($event,2)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn24" class="btn sign" (click)="changeSign($event,3)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn25" class="btn submit" (click)="submitCombination($event)"><img src="../../assets/images/correct.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn26" class="btn resolved" hidden disabled>4|1</button>
  </div>
</div>

<div class="row" id="row3" hidden>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn31" class="btn sign" (click)="changeSign($event,0)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn32" class="btn sign" (click)="changeSign($event,1)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn33" class="btn sign" (click)="changeSign($event,2)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn34" class="btn sign" (click)="changeSign($event,3)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn35" class="btn submit" (click)="submitCombination($event)"><img src="../../assets/images/correct.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn36" class="btn resolved" hidden disabled>4|1</button>
  </div>
</div>

<div class="row" id="row4" hidden>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn41" class="btn sign" (click)="changeSign($event,0)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn42" class="btn sign" (click)="changeSign($event,1)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn43" class="btn sign" (click)="changeSign($event,2)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn44" class="btn sign" (click)="changeSign($event,3)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn45" class="btn submit" (click)="submitCombination($event)"><img src="../../assets/images/correct.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn46" class="btn resolved" hidden disabled>4|1</button>
  </div>
</div>

<div class="row" id="row5" hidden>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn51" class="btn sign" (click)="changeSign($event,0)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn52" class="btn sign" (click)="changeSign($event,1)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn53" class="btn sign" (click)="changeSign($event,2)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn54" class="btn sign" (click)="changeSign($event,3)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn55" class="btn submit" (click)="submitCombination($event)"><img src="../../assets/images/correct.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn56" class="btn resolved" hidden disabled>4|1</button>
  </div>
</div>

<div class="row" id="row6" hidden>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn61" class="btn sign" (click)="changeSign($event,0)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn62" class="btn sign" (click)="changeSign($event,1)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn63" class="btn sign" (click)="changeSign($event,2)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn64" class="btn sign" (click)="changeSign($event,3)"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn65" class="btn submit" (click)="submitCombination($event)"><img src="../../assets/images/correct.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn66" class="btn resolved" hidden disabled>4|1</button>
  </div>
</div>

<div class="row" id="row7" hidden>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn71" class="btn sign"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn72" class="btn sign"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn73" class="btn sign"><img src="../../assets/images/sign0.png"></button>
  </div>
  <div class="col-lg-2 col-md-2 mb-2">
    <button id="btn74" class="btn sign"><img src="../../assets/images/sign0.png"></button>
  </div>
</div>