.container {
    height: 300vh;
}

.game-input {
    padding-top: 3vh;
    padding-bottom: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.alert {
    margin-top: 1vh;
}

.center {
    margin-left: auto;
}

input {
    margin-bottom: 1vh;
}

.list-item {
    padding: 1vh;
    margin: 2vh;
    text-align: center;
}

.bordered {
    border: 2px solid rgb(61, 117, 221);
}