<div class="row">
  <div class="col-lg-12 col-md-12 mb-12">
    <div  id="timeline" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%; height:30px;"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group0" id="00" (click)="onClicked($event,0,0)">A1</button>
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group1" id="10" (click)="onClicked($event,1,0)">B1</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group0" id="01" (click)="onClicked($event,0,1)">A2</button>
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group1" id="11" (click)="onClicked($event,1,1)">B2</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group0" id="02" (click)="onClicked($event,0,2)">A3</button>
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group1" id="12" (click)="onClicked($event,1,2)">B3</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group0" id="03" (click)="onClicked($event,0,3)">A4</button>
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group1" id="13" (click)="onClicked($event,1,3)">B4</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <input type="text" [(ngModel)]='solutions[0]' placeholder="???" class="form-control group0 solution" id="solution0" (keyup.enter)="checkSolution(0)">
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <input type="text" [(ngModel)]='solutions[1]' placeholder="???" class="form-control group1 solution" id="solution1" (keyup.enter)="checkSolution(1)">
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <input type="text" [(ngModel)]='solutions[4]' placeholder="???" class="form-control solution" id="solution4" (keyup.enter)="checkSolution(4)">
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <input type="text" [(ngModel)]='solutions[2]' placeholder="???" class="form-control group2 solution" id="solution2" (keyup.enter)="checkSolution(2)">
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <input type="text" [(ngModel)]='solutions[3]' placeholder="???" class="form-control group3 solution" id="solution3" (keyup.enter)="checkSolution(3)">
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group2" id="20" (click)="onClicked($event,2,0)">C1</button>
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group3" id="30" (click)="onClicked($event,3,0)">D1</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group2" id="21" (click)="onClicked($event,2,1)">C2</button>
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group3" id="31" (click)="onClicked($event,3,1)">D2</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group2" id="22" (click)="onClicked($event,2,2)">C3</button>
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group3" id="32" (click)="onClicked($event,3,2)">D3</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group2" id="23" (click)="onClicked($event,2,3)">C4</button>
  </div>
  <div class="col-lg-4 col-md-4 mb-4"></div>
  <div class="col-lg-4 col-md-4 mb-4">
    <button class="btn btn-secondary group3" id="33" (click)="onClicked($event,3,3)">D4</button>
  </div>
</div>

