<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/user">Slagalica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="user && user.type === 'supervisor'" class="nav-item">
          <a class="nav-link" routerLink="/game-input">Unos igara</a>
        </li>
        <li *ngIf="user && user.type === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="/game-day-input">Unos igre dana</a>
        </li>
        <li *ngIf="user && user.type === 'player'" class="nav-item">
          <a class="nav-link" routerLink="/game-single">Igra dana</a>
        </li>
        <li *ngIf="user && user.type === 'player'" class="nav-item">
          <a class="nav-link" routerLink="/match-requests">Mecevi</a>
        </li>
        <li *ngIf="user && user.type === 'player'" class="nav-item">
            <a class="nav-link" routerLink="/match-history">Istorija meceva</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rankings">Rang liste</a>
        </li>
        <li *ngIf="user && user.type === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="/requests">Zahtevi</a>
        </li>
        <li *ngIf="user" class="nav-item">
          <button class="btn btn-primary" (click)="logout()">Odjava</button>
        </li>
      </ul>
    </div>
  </div>
</nav>