<div class="row">
  <div class="col-lg-12 col-md-12 mb-12">
    <div  id="timeline" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%; height:30px;"></div>
  </div>
  <h3>{{description}}</h3>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 mb-6">
      <button class="btn left" id="left0"></button>
    </div>
    <div class="col-lg-6 col-md-6 mb-6">
      <button class="btn right" id="right0" (click)="onButtonClicked($event, 0)"></button>
    </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left1"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right1" (click)="onButtonClicked($event, 1)"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left2"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right2" (click)="onButtonClicked($event, 2)"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left3"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right3" (click)="onButtonClicked($event, 3)"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left4"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right4" (click)="onButtonClicked($event, 4)"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left5"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right5" (click)="onButtonClicked($event, 5)"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left6"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right6" (click)="onButtonClicked($event, 6)"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left7"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right7" (click)="onButtonClicked($event, 7)"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left8"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right8" (click)="onButtonClicked($event, 8)"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn left" id="left9"></button>
  </div>
  <div class="col-lg-6 col-md-6 mb-6">
    <button class="btn right" id="right9" (click)="onButtonClicked($event, 9)"></button>
  </div>
</div>