<app-nav-bar></app-nav-bar>
<div class="container">
<div class="row">
    <div class="col-lg-4 border border-primary rounded-lg requests">
      <span class="badge badge-primary"><h3>Zahtevi za registraciju</h3></span>
      <h3 *ngIf="users.length == 0" class="no-result">Nema zahteva za registraciju</h3>
    </div>
</div>
<div class="row">
        <div class="col-lg-3 requests" *ngFor="let user of users">
            <div class="card">
                <img class="card-img-top" src="{{user.photo}}" alt="">
                <div class="card-body">
                  <h4 class="card-title">
                    {{user.firstName}} {{user.lastName}}
                  </h4>
                  <div class="buttons">
                      <button class="btn btn-primary btn-accept" (click)="acceptRequest(user)">Prihvati</button>
                      <button class="btn btn-danger" (click)="deleteRequest(user)">Ukloni</button>
                  </div>
                </div>  
            </div>

        </div>
</div>
</div>